Microsoft PowerApps/Microsoft.Flow/flows/1528d6fe-d314-496a-b256-db81b3bbdb35/definition.json
{"name":"ba2b786a-5718-4054-b169-57aa0fc96196","id":"/providers/Microsoft.Flow/flows/ba2b786a-5718-4054-b169-57aa0fc96196","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Generate QR Code PowerApps button","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"ca2978a4-e995-48f0-88b8-976576e1fe23","type":"User","tenantId":"38b121ea-d45a-4760-b8e0-f9af6623f2e9"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-01-11T05:52:14.19807Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"0308c722-bde3-4a7f-93e7-727d241c786a"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RespondtoaPowerApporflow_text":{"type":"string","description":"Enter a value to respond","x-ms-powerflows-param-ispartial":false},"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"HTTP_URI":{"type":"string","format":"uri","description":"Enter request URL","x-ms-powerflows-param-ispartial":false},"Setvariable_Value":{"type":"string","description":"Enter variable value. This parameter is used as part of \"6DE5D7EF-B831-4261-B221-C1097EC70C18\"","x-ms-powerflows-param-ispartial":true},"Initializevariable2_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Initializevariable3_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["RespondtoaPowerApporflow_text","Initializevariable_Value","HTTP_URI","Setvariable_Value","Initializevariable2_Value","Initializevariable3_Value"]}},"conditions":[]}},"actions":{"HTTP":{"runAfter":{},"metadata":{"operationMetadataId":"c5a6a0e5-3bf7-471e-bc39-8649fb03b00f"},"type":"Http","inputs":{"method":"GET","uri":"https://digviw25.azurewebsites.net/api/httptriggerdigvi","queries":{"text":"Name : @{triggerBody()['Initializevariable_Value']}\nAge : @{triggerBody()['Initializevariable2_Value']}\nMobile no : @{triggerBody()['Initializevariable3_Value']}"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"0e666952-e58d-49b1-93f2-b45fe5e99372"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"code":"@{body('HTTP')}"},"schema":{"type":"object","properties":{"code":{"title":"code","x-ms-dynamically-added":true,"type":"string"}}}}},"Set_variable":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"e91a612c-28a0-4269-bbae-1f0263d3bebc"},"type":"SetVariable","inputs":{"name":"Name","value":"\"@{body('HTTP')}\""}},"Initialize_variable":{"runAfter":{"Respond_to_a_PowerApp_or_flow":["Succeeded"]},"metadata":{"operationMetadataId":"84e70331-6dfc-494a-bc3c-86f707d0cfbc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Name","type":"string","value":"@{triggerBody()['Initializevariable_Value']}"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"901a8151-7e0d-4003-9263-74ed075fa008"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Age","type":"string","value":"@{triggerBody()['Initializevariable2_Value']}"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"535b34be-d7eb-4892-8388-55f67ae777fd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MobNo","type":"string","value":"@{triggerBody()['Initializevariable3_Value']}"}]}},"Set_variable_2":{"runAfter":{"Set_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"5dabad84-b51c-4e4c-ba23-4137361b44a9"},"type":"SetVariable","inputs":{"name":"MobNo","value":"@{body('HTTP')}"}},"Set_variable_3":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"90b37bef-1196-4281-90a8-29f09bb320df"},"type":"SetVariable","inputs":{"name":"Age","value":"@{body('HTTP')}"}}}},"connectionReferences":{},"flowFailureAlertSubscribed":false}}